{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'myfirst.css' %}">
  {% include "menu.html" with me="PETRA" sponsor="ASN" %}
<body>

  {% for x in fruits %}
  <h1>{{ x }}</h1>
  {% endfor %}

  <p>In views.py you can see what the fruits variable looks like.</p>

  <h1>Hello {{ firstname }}</h1>

  {% with Number="12" %}
  <h1>{{ Number }}</h1>
  {% endwith %}

  <ul>
    {% for x in mymembers reversed %}
    <h5>{{ x.id }}</h5>
    <li {% if forloop %} style='background-color:lightblue;' 
    {% endif %}>
    {{ x.firstname }}
    {{ x.lastname }}
    </li>
    <li>{{ x.lastname }}</li>
    {% empty %}
    <li>No members</li>
    {% endfor %}
  </ul>

  {% with var1=1 var2=2 %}
  {% if var1 is var2 %}
  <h1>YES</h1>
  {% else %}
  <h1>NO</h1>
  {% endif %}
  {% endwith %}

  {% with var1=y var2=x %}
  {% if var1 == var2 %}
  <h1>YES</h1>
  {% else %}
  <h1>NO</h1>
  {% endif %}
  {% endwith %}

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
    </tr>
  {% endfor %}
</table>

</body>
{% include 'footer.html' %}
</html>